* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #2148C0;
    overflow: hidden;
}

body {
    background: var(--primary-color);
    position: relative;
    height: 100vh;
    height: 100svh;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

img {
    user-select: none;
    pointer-events: none;
}

.vector-bg {
    position: absolute;
    z-index: -1; /* Ensure background vectors stay behind other elements */
}

.vector-bg-1 {
    right: 0;
    height: 100%;
}

.vector-bg-1 img {
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

.vector-bg-2 {
    bottom: 0;
    left: 0;
}

.vector-bg-2 img {
    width: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    z-index: 1; /* Ensure content stays above background vectors */
}

.login-container {
    width: min(20em, 90%);
}

.login-icon-container {
    display: flex;
    justify-content: center;
}

.login-icon-container img {
    width: 5em;
}

.login-fields {
    display: flex;
    flex-direction: column;
    gap: .75em;
    margin-top: 3em;
}

.login-field {
    display: flex;
    align-items: center;
    gap: 1em;
    border: 1px solid white;
    border-radius: .25em;
    padding: .5em 1em;
}

.login-field .icon {
    display: flex;
}

.login-field .icon img {
    width: 1em;
}

.login-field .inp-field input {
    outline: none;
    border: none;
    background: transparent;
    color: white;
    width: 100%;
}

.login-field .inp-field input::placeholder {
    color: rgb(204, 204, 204);
    letter-spacing: 1px;
    font-size: .875em;
}

.login-field .inp-field input:focus {
    outline: none;
    border: none;
}

.login-btn {
    width: 100%;
    border: none;
    background: white;
    color: var(--primary-color);
    font-weight: bold;
    padding: .7em;
    border-radius: .25em;
    margin-top: 1.5em;
    box-shadow: 0px 4px 4px 0px #0000006b;
    cursor: pointer;
}

.forgot-password {
    display: block;
    margin-left: auto;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 1em;
    color: white;
}

/* Adjustments for different screen sizes */
@media screen and (max-width: 1200px) {
    .login-container {
        width: min(25em, 90%);
    }

    .login-fields {
        margin-top: 2em;
    }
}

@media screen and (max-width: 800px) {
    .vector-bg-1 {
        right: -20%;
        height: 70%; 
    }

    .vector-bg-2 {
        left: -10%;
        bottom: -10%;
    }

    .login-container {
        width: min(20em, 90%);
    }

    .login-icon-container img {
        width: 4em;
    }

    .login-fields {
        margin-top: 2em;
    }
}

@media screen and (max-width: 600px) {
    .vector-bg-1 {
        right: -70%;
        top: -10%;
       
    }

    .login-container {
        width: min(18em, 90%);
    }

    .login-icon-container img {
        width: 3.5em;
    }

    .login-fields {
        margin-top: 1.5em;
        gap: 0.5em;
    }

    .login-field {
        padding: .5em;
        gap: 0.75em;
    }

    .login-field .icon img {
        width: 0.875em;
    }
}

@media screen and (max-width: 500px) and (min-width: 400px) {
    .vector-bg-1 {
        right: -80%;
        top: -10%;
       
    }

    .login-container {
        width: min(17em, 90%);
    }

    .login-icon-container img {
        width: 3.2em;
    }

    .login-fields {
        margin-top: 1.5em;
        gap: 0.5em;
    }

    .login-field {
        padding: .45em;
        gap: 0.75em;
    }

    .login-field .icon img {
        width: 0.875em;
    }
}

@media screen and (max-width: 400px) {
    .vector-bg-1 {
        right: -90%;
        top: -20%;
      
    }

    .login-container {
        width: min(16em, 90%);
    }

    .login-icon-container img {
        width: 3em;
    }

    .login-fields {
        margin-top: 1em;
        gap: 0.5em;
    }

    .login-field {
        padding: .4em;
        gap: 0.5em;
    }

    .login-field .icon img {
        width: 0.75em;
    }

    .login-btn {
        padding: .6em;
        margin-top: 1em;
    }
}
