
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:#7CB9E8;
}

#attempt {
    font-size: x-large;
    color: black;
}

.container {
    height: 85%;
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 30%;
  
}



.word-display {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    margin-bottom: 20px;
}

.letter {
    width: 60px;
    height: 60px;
    background-color: #f0f0f0;
    border: 2px solid #ddd;
    border-radius: 10px;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    transition: background-color 0.3s, transform 0.2s;
}

.letter:hover {
    transform: scale(1.1);
}

.correct-position {
    background-color: #28a745;
    color: white;
    border-color: #28a745;
}

.wrong-position {
    background-color: #ffc107;
    color: black;
    border-color: #ffc107;
}

.key {
    padding: 10px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    font-weight: bolder;
    background-color: #002387;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    width: 50px;
    height: 50px;
    transition: background-color 0.3s, transform 0.2s;
}

.key:hover {
 
    transform: scale(1.1);
}

#keyboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 10px;
    margin-top: 20px;
}

#result {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
    font-size: larger;
}
